/*--------------------------------------------------------------
Carousel Reset
----------------------------------------------------------------*/
.pxl-swiper-slider__inner {
    overflow: hidden;
}
.pxl-swiper-container {
    margin: 0 -15px;
    position: relative;
    overflow: hidden;
    &.swiper-fade {
        .pxl-swiper-slider__item {
            opacity: 0 !important;
            &.swiper-slide-active {
                opacity: 1 !important;
            }
        }
    }
}
.pxl-swiper-slider__wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    -o-transition-property: transform;
    transition-property: transform,-webkit-transform;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    transition-timing-function: linear;
}
.pxl-swiper-slider__item {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: auto;
    height: 100%;
    position: relative;
    padding: 0 15px;
}

.pxl-navigation-carousel {
    display: inline-flex;
    margin: 0 -10px;
}

.pxl-swiper-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 30px;
    .pxl-swiper-current-slide, .pxl-swiper-total-slides {
        @extend h6;
        margin: 0 14px;
        &:before {
            content: '0';
        }
    }
    .pxl-swiper-current-slide {
        color: #0a1316;
    }
}

.pxl-swiper-boxshadow {
    .pxl-swiper-slider__inner {
        margin: 0 -30px;
        .pxl-swiper-container {
            padding: 0 30px;
        }
    }
    .pxl-swiper-slider__item {
        transition: opacity .25s cubic-bezier(.645,.045,.355,1);
    }
    .pxl-swiper-slider__item:not(.swiper-slide-visible) {
        opacity: 0;
    }
}

.pxl-swiper-slider {
    position: relative;
    &.pxl-swiper__nav-show .pxl-swiper__nav {
        opacity: 1;
        visibility: visible;
    }
}

.pxl-swiper-nogap {
    .pxl-swiper-container {
        margin: 0;
        .pxl-swiper-slider__item {
            padding: 0;
        }
    }
}

.pxl-swiper-thumbs {
    overflow: hidden;
    padding: 0 15px;
    .swiper-slide {
        cursor: pointer;
        padding: 0 15px;
    }
}
.swiper-container-vertical {
    height: 300px;
    .pxl-swiper-slider__wrapper, .swiper-wrapper {
        flex-direction: column;
    }
    .pxl-swiper-slider__item, .swiper-slide {
        transform: translateZ(0);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }
}

[data-slider-mode="fade"] .swiper-slide-active {
    z-index: 9;
}

.swiper-creative .pxl-swiper-slider__item {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
    transition-property: transform,opacity,height;
    transition-property: transform;
}
.swiper-3d .pxl-swiper-slider__wrapper {
    transform-style: preserve-3d;
    transform: translate3d(0px,0,0);
    transition-property: transform;
    transition-timing-function: var(--swiper-wrapper-transition-timing-function,initial);
}
.swiper-3d .swiper-cube-shadow, .swiper-3d .pxl-swiper-slider__item {
    transform-style: preserve-3d;
}

.pxl-nav__hide .pxl-swiper__nav {
    opacity: 0;
    visibility: hidden;
    position: absolute;
}

.swiper-vertical {
    touch-action: pan-x;
    > .pxl-swiper-slider__wrapper {
        flex-direction: column;
    }
    &.swiper-backface-hidden {
        .pxl-swiper-slider__item {
            transform: translateZ(0);
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            height: auto !important;
        }
    }
}

.swiper-filter-active {
    .non-swiper-slide {
        display: none;
    }
}

.swiper-filter-wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    .filter-item {
        display: inline-block;
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 500;
        margin: 10px 24px;
        cursor: pointer;
        position: relative;
        z-index: 1;
        &:before {
            content: '';
            width: 11px;
            height: 41px;
            border-radius: 12px;
            background-color: #f4f4f4;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) scaleY(0);
            opacity: 0;
            transition: all .25s cubic-bezier(.645,.045,.355,1);
            z-index: -1;
        }
        span {
            color: #010927;
            transition: all .25s cubic-bezier(.645,.045,.355,1);
        }
        &.active {
            color: $primary_color;
            &:before {
                opacity: 1;
                transform: translate(-50%, -50%) scaleY(1);
            }
        }
    }
}

.pxl-swiper-slider {
    .pxl-post--image img, .pxl-post--featured img {
        width: 100%;
    }
    .pxl-post--title, .pxl-post--category {
        a {
            color: inherit;
            &:hover {
                color: inherit;
            }
        }
    }
}

.pxl-swiper-fraction-first, .pxl-swiper-fraction-last {
    @extend h6;
    color: #040505;
    margin: 0 16px;
    display: inline-flex;
}

.pxl-swiper__nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    width: fit-content;
    margin: 0 auto;
    .pxl-swiper__nav-item{
        transition: all 300ms linear 0ms;
        cursor: pointer;
    }
    /* Swiper Arrow Style */
    &-style-1 {
        padding: 4px;
        background-color: #2F3E4E;
        border-radius: 50px;
        .pxl-swiper__nav-item{
            padding: 7px 16px;
            border-radius: 30px;
            background-color: transparent;
            display: flex;
            justify-content: center;
            align-items: center;
            svg{
                height: 18px;
                width: 18px;
            }
            &:hover{
                background-color: #fff;
            }
        }
    }
    &-style-2{
        display: flex;
        gap: 16px;
        .pxl-swiper__nav-item{
            svg path{
                stroke: #D5D7DA;
                transition: all 0.3s ease;
            }
            &:hover{
                svg path{
                    stroke: $primary_color;
                }
            }
        }
    }
}

.pxl-swiper-dots {
    &.pxl-swiper-pagination-bullets span {
        display: inline-flex;
        cursor: pointer;
        transition: all 300ms linear 0ms;
    }
    &.pxl-swiper-pagination-progressbar {
        height: 1px;
        background-color: #454545;
        width: 100%;
        position: relative;
        margin-top: 45px;
        .swiper-pagination-progressbar-fill {
            height: 3px;
            background-color: $primary_color;
            display: inline-flex;
            width: 100%;
            position: absolute;
            left: 0;
            bottom: 0;
            transform-origin: left top;
        }
    }

    /* Swiper Dots Style */
    &__style-1 {
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
        margin-top: 48px;
        @media #{$max-sm}{
            margin-top: 32px;
        }
        @media #{$max-xs}{
            margin-top: 24px;
        }
        .swiper-pagination-bullet{
            width: 48px;
            height: 4px;
            background-color: #D5D7DA;
            border-radius: 10px;
            @media #{$max-sm}{
                width: 36px;
                height: 3px;
            }
            @media #{$max-xs}{
                width: 24px;
                height: 2px;
            }
            &-active{
                background-color: $primary_color;
            }
        }
    }

    &__style-2{
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
        margin-top: 50px;
        width: 100%;
        display: flex;
        .swiper-pagination-bullet{
            width: 100%;
            height: 4px;
            background-color: #D5D7DA;
            border-radius: 10px;
            &-active{
                background-color: $primary_color;
            }
        }
    }
}