.pxl-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:transparent;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    cursor: pointer;
    &.active{
        opacity: 1;
        visibility: visible;
    }
}
.pxl-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-height: 100vh;
    z-index: 99999;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: end;
    transition: transform 0.3s ease;
    opacity: 0;
    visibility: hidden;
    &__close {
        border-width: 8px;
        position: absolute;
        width: 50px;
        height: 50px;
        right: 0;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        background-color: $primary_color;
        svg{
            width: 16px;
            height: 16px;
            path{
                stroke: #fff;
            }
        }
        &:before, &:after {
            background-color: #a7a7a7;
        }
    }
    &__overlay{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(#000000, 0.43);
        z-index: -1;
    }
    &__loading {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.3);
        z-index: 9999;
        display: flex;
        align-items: center;
        justify-content: center;
        .pxl-popup__loading-spinner{
            width: 50px;
            height: 50px;
            border: 4px solid #f3f3f3;
            border-top: 4px solid $primary_color;
            border-radius: 50%;
            animation: spin 1s linear infinite;
        }
    }
    &--cart{
        .pxl-popup__content{
            width: 100%;
            max-width: 400px;
            height: 100%;
            display: flex;
            flex-direction: column;
            background-color: #fff;
            position: relative;
            transition: all 0.3s ease-in-out;
            transform: translateX(100%);

            .pxl-popup__header{
                display: flex;
                min-height: 50px;
                justify-content:space-between;
                align-items: center;
                position: relative;
                border-bottom: 1px solid #e5e5e5;
                padding: 12px 24px;
                &-title{
                    font-size: 20px;
                    font-weight: 500;
                    color: $primary_color;
                }
            }
            .pxl-popup__content-inner{
                flex: 1 1 auto;
                overflow-y: auto;
                padding: 24px;
                &::-webkit-scrollbar {
                    width: 5px;
                    height: 5px;
                }
                &::-webkit-scrollbar-track {
                    background: #f1f1f1;
                }
                &::-webkit-scrollbar-thumb {
                    background: #888;
                }
                &::-webkit-scrollbar-thumb:hover {
                    background: #555;
                }
                .pxl-popup__list{
                    list-style: none;
                    padding: 0;
                    margin: 0;
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    .pxl-popup__empty{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-direction: column;
                        gap: 15px;
                        i{
                            font-size: 40px;
                            color: #fff;
                            background-color: $primary_color;
                            padding: 10px;
                            border-radius: 50%;
                            display: flex;
                            align-items: center;
                            justify-content: center;    
                            width: 100px;
                            height: 100px;
                            border-radius: 50%;
                        }
                        > span{
                            font-size: 24px;
                            font-weight: 500;
                            color: $primary_color;
                        }
                    }
                    .pxl-popup__item{
                        display: flex;
                        align-items: start;
                        gap: 15px;
                        position: relative;
                        &-remove{
                            all: unset;
                            position: absolute;
                            top: 0;
                            right: 0;
                            width: 20px;
                            height: 20px;
                            padding: 0;
                            cursor: pointer;
                        }
                        &-image{
                            width: 120px;
                            aspect-ratio: 308/370;
                            img{
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }
                        .pxl-popup__item-meta{
                            display: flex;
                            flex-direction: column;
                            gap: 16px;
                            .product-name{
                                font-size: 16px;
                                font-weight: 500;
                                color: $primary_color;
                                overflow: hidden;
                                display: -webkit-box;
                                -webkit-box-orient: vertical;
                                -webkit-line-clamp: 1;
                                line-clamp: 1;
                            }
                            .product-variations{
                                font-size: 14px;
                                font-weight: 400;
                                color: $third_color;
                            }
                            .quantity-controls{
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                gap: 15px;
                                width: 90px;
                                height: 30px;
                                border: 1px solid #e5e5e5;
                                border-radius: 0px;
                                .qty-display{
                                    line-height: 1;
                                }
                                .qty-btn{
                                    all: unset;
                                    width: 20px;
                                    height: 20px;
                                    padding: 0;
                                    cursor: pointer;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    svg{
                                        width: 12px;
                                        height: 12px;
                                    }
                                    &.disabled{
                                        opacity: 0.5;
                                        cursor: not-allowed;
                                    }
                                }
                                .unit-price{
                                    position: absolute;
                                    left: 245px;
                                }
                            }
                        }
                    }
                }
            }
            .pxl-popup__footer{
                border-top: 1px solid #e5e5e5;
                padding: 24px;
                &-total{
                    font-size: 20px;
                    font-weight: 500;
                    color: $primary_color;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    strong{
                        font-size: 16px;
                        font-weight: 400;
                    }
                }
                &-buttons{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    gap: 12px;
                    .btn{
                        width: 100%;
                        overflow: hidden;
                    text-align: center;

                    }
                }
            }
        }
    }
   
    &.active {
        opacity: 1;
        visibility: visible;
        .pxl-popup__content{
            transform: translateX(0%);
        }
    }
}

