button:not(.btn), .button:not(.btn), input[type="submit"]:not(.btn), button.button {
    border: none;
    outline: none;
    transition: all 0.3s ease;
    background-color: $primary_color;
    padding: 13px 20px;
    border: none;
    outline: none;
    border-radius: 8px;
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 16px;
    gap: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

button.iti__selected-country{
    background-color: transparent;
    padding: 0 12px;
    &:hover, &:focus, &:active{
        background-color: #f5f5f5;
    }
}

.pxl-button{
    --gradient-color-1: #EC8CF9;            
    --gradient-color-2: #A789ED;            
    --gradient-color-3: #66DDCB;            
    --gradient-color-4: #4FE3FC;            
    --gradient-color-5: #0478CE;     
    --gradient-color-6: #577590;
    --gradient-color-7: #43aa8b;
    --gradient-color-8: #90be6d;
    --gradient-color-9: #f9c74f;
    --gradient-color-10: #f3722c;
    
    &__linear-blur {
        position: absolute;
        width: 100%;
        height: 100%;
        @extend .abs-middle;
        border-radius: 12px;
        box-sizing: border-box;
        padding: 4px;
        filter: blur(9px);
        background: linear-gradient(
            90deg,
            var(--gradient-color-1) 0%,
            var(--gradient-color-2) 27%,
            var(--gradient-color-3) 52%,
            var(--gradient-color-4) 76%,
            var(--gradient-color-5) 100%
        );
        transition: all 0.3s ease;
    
        &::before {
            content: "";
            position: absolute;
            top: 4px;
            left: 4px;
            right: 4px;
            bottom: 4px;
            background-color: #D9D9D9;
            border-radius: 8px;
            filter: blur(9px);
            z-index: 1;
        }
    }

    &__arrow-target--arrow{
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(85%, -80%);
        z-index: 3;
    }

    &__arrow-target--cursor{
        position: absolute;
        bottom: 0;
        left: 0;
        transform: translate(-50%, 50%);
        z-index: 3;
    }

    &:hover .pxl-button__linear-blur {
        background: linear-gradient(
            90deg,
            var(--gradient-color-6) 0%,
            var(--gradient-color-7) 27%,
            var(--gradient-color-8) 52%,
            var(--gradient-color-9) 76%,
            var(--gradient-color-10) 100%
        );
    }
}

.btn {
    padding: 13px 20px;
    border: none;
    outline: none;
    border-radius: 12px;
    .btn-icon{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 6px;
        i, svg{
            transition: all 0.3s ease;
        }
    }
    &.btn-space-between{
        justify-content: space-between;
    }
    
    &-inline{
        display: inline-block;
    }

    &-text-outline{
        &.btn__icon-active{
            align-items: flex-start;
        }
        .btn-icon{
            display: flex;
            width: 64px;
            height: 64px;
            justify-content: center;
            align-items: center;
            gap: 6px;
            flex-shrink: 0;
            border-radius: 99px;
            margin-right: 0;
            border-radius: 99px;
            border: 1px solid #D5D7DA;
            background: #FAFAFA;
        }
        .btn-text{
          position: relative;
          transform: translateY(-100%);
          z-index: 2;
          border-bottom: 1px solid #0A0D12;
        }
    }

    &-block {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    &__icon-active {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    &-default{
        color: #fff;
        background-color: $secondary_color;
        @include border-radius(8px);
        border: 2px solid #e9d9d9;
        &:hover{
            color: #fff;
            background-color: $primary_color;
        }
    }

    &__icon-right {
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        .btn-icon{
            margin: 0 0px 0 6px;
        }
        &.icon-move{
            &:hover{
                i, svg{
                    transform: translateX(5px);
                }
            }
        }
        
    }

    &__icon-left {
        &.icon-move{
            &:hover{
                i, svg{
                    transform: translateX(-5px);
                }
            }
        }
    }
    
    &-primary{
        color: #fff;
        background-color: $primary_color;
        &:hover{
            color: #fff;
        }
    }  

    &-glossy{
        position: relative;
        overflow: hidden;
        &:before{
            content: '';
            position: absolute;
            top: 0;
            left: -200%;
            width: 200%;
            height: 100%;
            -webkit-transform: skewx(-20deg);
            -khtml-transform: skewx(-20deg);
            -moz-transform: skewx(-20deg);
            -ms-transform: skewx(-20deg);
            -o-transform: skewx(-20deg);
            transform: skewx(-20deg);
            background-image: linear-gradient(to right, transparent, rgba(255, 255, 255, .35), transparent);
            z-index: 1;
        }
        &:hover:before{
            -webkit-animation: pxl_btn_shine 1.8s ease;
            animation: pxl_btn_shine 1.8s ease;
            -webkit-animation-delay: .1s;
            animation-delay: .1s;
        }
    }

    &-loadmore{
        padding: 9px 16px;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.35;
        letter-spacing: -0.32px;
        cursor: pointer;
        width: fit-content;
        display: flex;
        align-items: center;
        gap: 6px;
        svg{
            position: relative;
            top: -1px;
        }
    }
    
    &-secondary{
        color: #fff;
        background-color: $secondary_color;
        &:hover{
            color: #fff;
            background-color: $primary_color;
        }
    }

    &-transparent{
        color: $primary_color;
        background-color: transparent;
        border-color: transparent;
        
    }
    
    &__has-border{
        border: 4px solid #D5D7DA;
        &:hover{
            border-color: #fff;
        }
    }

    &__linear-blur{
        background-color: #181D27;
        border-radius: 12px;
        color: #fff;
        z-index: 1;
        position: relative;
    }
    &-mix-blend-mode-light{
        position: relative;
        display: flex;
        padding: 13px 20px;
        justify-content: center;
        align-items: center;
        gap: 6px;
        border-radius: 99px;
        overflow: hidden;
        background-color: #000;
        &:after{
            content: '';
            position: absolute;
            top: -1px;
            left: -1px;
            border-radius: 99px;
            background-blend-mode: screen, screen, color-burn;
            box-shadow: 23px 32px 13px -34px #fff inset, 
            -23px -30px 21px -34px #fff inset, 
            4px 4px 2px -4px rgba(255, 255, 255, 0.2) inset, 
            0px 0px 44px 0px rgba(255, 255, 255, 0.2) inset; 

            backdrop-filter: blur(20px);
            z-index: 2;
            height: calc(100% + 2px);
            width: calc(100% + 2px);
        }
        .btn-icon{
            z-index: 3;
        }
        .btn-text{
            position: relative;
            z-index: 3;
        }
    }
    &-mix-blend-mode-dark{
        position: relative;
        display: flex;
        padding: 13px 20px;
        justify-content: center;
        align-items: center;
        gap: 6px;
        border-radius: 99px;
        overflow: hidden;
        background-color: #fff;
        &:after{
            content: '';
            position: absolute;
            top: -1px;
            left: -1px;
            border-radius: 99px;
            background-blend-mode: screen, screen, color-burn;
            box-shadow: 23px 32px 13px -34px #000000 inset, 
            -23px -30px 21px -34px #000000 inset, 
            4px 4px 2px -4px rgba(0, 0, 0, 0.2) inset, 
            0px 0px 44px 0px rgba(0, 0, 0, 0.2) inset; 

            backdrop-filter: blur(20px);
            z-index: 2;
            height: calc(100% + 2px);
            width: calc(100% + 2px);
        }
        .btn-icon{
            z-index: 3;
        }
        .btn-text{
            position: relative;
            z-index: 3;
        }
        
    }
    &__linear-blur-2{
        border-radius: 99px;
        background: linear-gradient(84deg, var(--gradient-color-1) -15.95%, var(--gradient-color-2) 12.74%, var(--gradient-color-3) 41.52%, var(--gradient-color-4) 70.92%, var(--gradient-color-5) 103.3%);
        box-shadow: 32px 32px 18px -36px rgba(255, 255, 255, 0.32) inset, -24px -24px 12px -28px rgba(179, 179, 179, 0.56) inset, 4px 4px 2px -4px rgba(179, 179, 179, 0.72) inset, 0px 0px 44px 0px rgba(242, 242, 242, 0.40) inset;
        backdrop-filter: blur(20px);
        &:hover{
            background: linear-gradient(84deg, var(--gradient-color-6) -15.95%, var(--gradient-color-7) 12.74%, var(--gradient-color-8) 41.52%, var(--gradient-color-9) 70.92%, var(--gradient-color-10) 103.3%);
        }
        &:after{
            content: '';
            position: absolute;
            top: -1px;
            left: -1px;
            border-radius: 99px;
            background-blend-mode: screen, screen, color-burn;
            box-shadow: 23px 32px 13px -34px #fff inset, 
            -23px -30px 21px -34px #fff inset, 
            4px 4px 2px -4px rgba(255, 255, 255, 0.2) inset, 
            0px 0px 44px 0px rgba(255, 255, 255, 0.2) inset; 
            backdrop-filter: blur(20px);
            z-index: 2;
            height: calc(100% + 2px);
            width: calc(100% + 2px);
        }
        .btn-icon{
            z-index: 3;
        }
        .btn-text{
            position: relative;
            z-index: 3;
        }
    }
    &.btn-hv-shake:hover{
        animation: shake-button 0.4s ease-in-out;
    }
    &.btn-hv-icon-to-right:hover{
        .btn-icon{
            overflow: hidden;
            i, svg{
                animation: icon_to_right 0.4s ease-in-out;
            }
        }
    }
    &.btn-hv-icon-to-left:hover{
        .btn-icon{
            overflow: hidden;
            i, svg{
                animation: icon_to_left 0.4s ease-in-out;
            }
        }
    }
    &.btn-hv-icon-to-bottom:hover{
        .btn-icon{
            overflow: hidden;
            i, svg{
                animation: icon_to_bottom 0.4s ease-in-out;
            }
        }
    }
    &.btn-hv-icon-to-top:hover{
        .btn-icon{
            overflow: hidden;
            i, svg{
                animation: icon_to_top 0.4s ease-in-out;
            }
        }
    }
    &.btn-hv-icon-to-top-right:hover{
        .btn-icon{
            overflow: hidden;
            i, svg{
                animation: icon_to_top_right 0.4s ease-in-out;
            }
        }
    }
    &.btn-hv-icon-to-bottom-right:hover{
        .btn-icon{
            overflow: hidden;
            i, svg{
                animation: icon_to_bottom_right 0.4s ease-in-out;
            }
        }
    }
    &.btn-hv-icon-to-bottom-left:hover{
        .btn-icon{
            overflow: hidden;
            i, svg{
                animation: icon_to_bottom_left 0.4s ease-in-out;
            }
        }
    }
    &.btn-hv-icon-to-top-left:hover{
        .btn-icon{
            overflow: hidden;
            i, svg{
                animation: icon_to_top_left 0.4s ease-in-out;
            }
        }
    }
    &.btn-hv-icon-on-press:hover{
        .btn-icon{
            overflow: hidden;
            i, svg{
                animation: icon_on_press 1s ease-in-out;
            }
        }
    }
    &-blur{
        &:before{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 29.521px;
            background: rgba(255, 255, 255, 0.1);
            mix-blend-mode: soft-light;
            filter: blur(40px);
        }
        .btn-icon{
            z-index: 3;
        }
        .btn-text{
            position: relative;
            z-index: 3;
        }
    }
    &-gradient-3colors{
        background: linear-gradient(90deg, var(--gradient-color-1) 0%, var(--gradient-color-2) 50%, var(--gradient-color-3) 100%);
    }
}

.pxl-button__arrow-target{
    position: absolute;
    z-index: 3;
}

.pxl-button--btn-border-bottom-gradient{
    position: relative;
    padding-bottom: 6px;
    --gradient-color-1: #28C6FF;
    --gradient-color-2: #573CF1;
    .btn-border-bottom-gradient{
        background-color: #000;
        border-radius: 12px;
        position: relative;
        z-index: 2;
        font-size: 16px;
        line-height: 1.3;
        letter-spacing: -0.32px;
        font-weight: 500;
        padding: 13px 20px;
        border-radius: 12px;
        border: none;
        color: #fff;
    } 
    &:after{
        content: '';
        position: absolute;
        bottom: 0px;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(90deg, var(--gradient-color-1) 0%, var(--gradient-color-2) 100%);
        border-radius: 12px;
        z-index: 1;
    }
}