.pxl-icon-box{
    position: relative;
    .pxl-icon-box__layout-2 rect,
    .pxl-icon-box--layout-3 rect {
        will-change: transform;
    }
    &__layout-1{
        &.pxl-icon-box__inline-title{
            .pxl-icon-box__icon{
                position: absolute;
                left: 0;
                top: 0;
            }
            .pxl-icon-box__title{
                margin-left: 50px;
            }
        }
        &.pxl-icon-box__center{
            .pxl-icon-box__icon{
                margin-left: auto;
                margin-right: auto;
            }
            .pxl-icon-box__title, .pxl-icon-box__desc{
                text-align: center;
            }
        }
        &.pxl-icon-box__right{
            .pxl-icon-box__icon{
                margin-left: auto;
            }
            .pxl-icon-box__title, .pxl-icon-box__desc{
                text-align: right;
            }
        }
        &.pxl-icon-box__bg-blur{
            border-radius: 16px;
            border: 1px solid #A4A7AE;
            background: rgba(255, 255, 255, 0.08);
            backdrop-filter: blur(8px);
            padding: 40px 24px;
        }
        .pxl-icon-box__icon{
            width: 48px;
            height: 48px;
            @include border-radius(8px);
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 24px;
            &-gradient{
                width: 56px;
                height: 56px;
                position: relative;
                &::before{
                    content: '';
                    border-radius: 16px;
                    background: linear-gradient(180deg, #F5D2FF -31.8%, #851ADC 100%);
                    backdrop-filter: blur(3.8518519401550293px);
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    width: 100%;   
                    height: 100%;
                    z-index: 1;
                }
                &::after{
                    content: '';
                    border-radius: 16px;
                    border: 6px solid rgba(255, 255, 255, 0.32);
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    z-index: 2;
                }
    
                svg, i, img{
                    position: relative;
                    z-index: 3;
                }
                
            }
            &-liquid-glass{
                width: 80px;
                height: 80px;
                position: relative;
                margin: 0;
                @media #{$max-xs} {
                    width: 48px;
                    height: 48px;
                }
                svg{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    z-index: 1;
                    @media #{$max-xs} {
                        width: 24px;
                        height: 24px;
                    }
                }
                &:after{
                    content: '';
                    position: absolute;
                    top: -1px;
                    left: -1px;
                    border-radius: 99px;
                    background-blend-mode: screen, screen, color-burn;
                    box-shadow: 23px 32px 13px -34px #fff inset, -23px -30px 21px -34px #fff inset, 4px 4px 2px -4px rgba(255, 255, 255, 0.2) inset, 0px 0px 44px 0px rgba(255, 255, 255, 0.2) inset;
                    backdrop-filter: blur(20px);
                    z-index: 0;
                    height: calc(100% + 2px);
                    width: calc(100% + 2px);
                }
            }
        }
        &.pxl-icon-box__hover-shadow{
            padding: 24px;
            border-radius: 12px;
            background: #fff;
            box-shadow: 0px 4px 16px 0px rgba(24, 29, 39, 0);
            transition: all 0.3s ease;
            height: 100%;
            @media #{$max-lg} {
                padding: 16px;
                box-shadow: 0px 4px 16px 0px rgba(24, 29, 39, 0.12);
            }
            .pxl-icon-box__icon{
                margin-bottom: 24px;
                border-radius: 50%;
                background-color: #F5F5F5;
                width: 48px;
                height: 48px;
                padding: 8px 9px;
                display: flex;
                justify-content: center;
            }
            
            .pxl-icon-box__title{
                margin-bottom: 16px;
                font-size: 18px;
                font-weight: 600;
                line-height: 1.35;
                letter-spacing: -0.36px;
                color: #181D27;
            }
            .pxl-icon-box__desc{
                margin-bottom: 0;
                font-size: 16px;
                font-weight: 400;
                line-height: 1.35;
                letter-spacing: -0.32px;  
                color: #181D27;
            }
            &:hover{
                box-shadow: 0px 4px 16px 0px rgba(24, 29, 39, 0.12);
            }
        }

        .pxl-icon-box__title{
            font-size: 20px;
            line-height: 1.2;
            letter-spacing: -0.8px;
            color: #181D27;
            margin-bottom: 16px;
        }

        .pxl-icon-box__desc{
            color: $third_color;
            margin-bottom: 0;
        }
        &.pxl-icon-box__icon-left{
            display: flex;
            align-items: center;
        }
        &.pxl-icon-box__icon-right{
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
        }
    }

    &__layout-2{
        position: relative;
        min-height: 331px;
        >svg{
            @media #{$max-lg} {
                display: none;
            }
        }
        .pxl-icon-box__feature{
            position: absolute;
            margin: 0;
            padding: 0;
            list-style: none;
            width: 430px;
            top: 0;
            left: 0;
            @media #{$max-lg} {
               position: unset;
               display: flex;
               gap: 8px;
               justify-content: center;
               flex-flow: row wrap;
               width: 100%;
            }
            &-item{
                padding: 4px 16px 4px 4px;
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                background-color: #fff;
                width: fit-content;
                border-radius: 50px;
                position: absolute;
                box-shadow: 0px 4px 16px 0px rgba(24, 29, 39, 0.12);
                gap: 8px;
                @media #{$max-lg} {
                    position: relative;
                }
                &:hover{
                    border: 1.5px solid #E9EAEB;
                    box-shadow: none;
                    &::before{
                        content: "";
                        position: absolute;
                        border-radius: 999px;
                        background: linear-gradient(299deg, rgba(173, 157, 255, 0.88) 0%, rgba(158, 229, 255, 0.88) 49.19%, rgba(220, 160, 255, 0.88) 98.39%);
                        filter: blur(6px);
                        top: 0%;
                        left: 0%;
                        width: 100%;
                        height: 100%;
                        z-index: -1;
                    }
                }
                @media #{$min-xl} {
                    &:first-child{
                        top: -20px;
                        left: 150px;
                    }
                    &:nth-child(2){
                        top: 82px;
                        left: -10px;
                    }
                    &:nth-child(3){
                        top: 187px;
                        left: 180px;
                    }
                    &:nth-child(4) {
                        top: 82px;
                        left: 190px;
                      }
                    &:nth-child(5) {
                        top: -23px;
                        left: -40px;
                    }
                    &:nth-child(6) {
                        top: 187px;
                        left: -30px;
                      }
                    &:nth-child(7) {
                        top: 80px;
                        left: 400px;
                    }
                }
               
            }
            &-icon{
                width: 40px;
                height: 40px;
                @include border-radius(50%);
                padding: 8px 9px;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #F5F5F5;
              
            }
            &-text{
                font-size: 14px;
                font-weight: 500;
                line-height: 1.3;
                letter-spacing: -0.28px;
                color: $primary_color;
            }
        }
        .pxl-icon-box__logo{
            position: absolute;
            left: 51%;
            top: 32%;
            transform: translate(-50%, -50%);
            @media #{$max-lg} {
                position: relative;
                transform: unset;
                left: unset;
                top: unset;
                text-align: center;
                margin: 50px 0;
                &::before{
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 50%;
                    transform: translate(-50%, -100%);
                    width: 2px;
                    height: 50px;
                    display: block;
                    border: 1px dashed #ddd;
                }
                &::after{
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    transform: translate(-50%, 100%);
                    width: 2px;
                    height: 50px;
                    display: block;
                    border: 1px dashed #ddd;
                }
            }
        }
        .pxl-icon-box__demo{
            position: absolute;
            right: -10px;
            top: -46px;
            @media #{$max-lg} {
                position: relative;
                top: unset;
                right: unset;
                width: fit-content;
                margin: 0 auto;
            }
            >div{
                &:before{
                    content: '';
                    background: linear-gradient(45deg, #AD9DFF, #9EE5FF 50%, #DCA0FF);
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 100%;
                    height: 100%;
                    z-index: -1;
                    border-radius: 16px;
                    opacity: 0.88;
                    filter: blur(12px);
                }
            }
            &-main{
                max-width: 373px;
                width: 100%;
                display: block;
                margin: 15px 46px 0 0;
                position: relative;
            }
            &-sub{
                max-width: 274px;
                width: 100%;
                display: block;
                margin: 0 auto;
                position: absolute;
                top: -33px;
                right: 16px;
                z-index: -1;
            }
        }

    }
    &--layout-3{
        position: relative;
        >svg{
            width: 100%;
            height: 100%;
            @media #{$max-xs} {
                display: none;
            }
        }
        .pxl-icon-box__feature-list{
            position: absolute;
            width: 100%;
            height: 100%;
            list-style: none;
            margin: 0;
            padding: 0;
            @media #{$max-xs} {
                position: relative;
                display: flex;
                gap: 10px;
            }
        }
        .pxl-icon-box__feature-item{
            position: absolute;
            width: 56px;
            height: 56px;
            @include border-radius(50%);
            box-sizing: border-box;
            border: 8px solid #fff;
            background-color: #F5F5F5;
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: 0px 4px 16px 0px rgba(24, 29, 39, 0.12);
            &:first-child{
                top: -20px;
            }
            &:nth-child(2){
                top: 58px;
            }
            &:nth-child(3){
                top: 50%;
                transform: translateY(-50%);
            }
            &:nth-child(4){
                bottom: 62px;
            }
            &:last-child{
                bottom: -16px;
            }
           
            @media #{$max-xs} {
                position: relative;
                top: unset !important;
                left: unset !important;
                right: unset !important;
                bottom: unset !important;
                transform: unset !important;
                width: 40px;
                height: 40px;
            }
        }

        &.pxl-icon-box__align-left .pxl-icon-box__feature-list{
            top: 0;
            left: 0;
            .pxl-icon-box__feature-item{
                &:first-child{
                    top: -24px;
                    left: 88px;
                }
                &:nth-child(2){
                    top: 62px;
                    left: 172px;
                }
                &:nth-child(3){
                    top: 50%;
                    left: 57px;
                    transform: translateY(-50%);
                }
                &:nth-child(4){
                    left: 213px;
                    bottom: 102px;
                }
                &:last-child{
                    left: 112px;
                    bottom: -16px;
                }
            }
        } 
        &.pxl-icon-box__align-right{
            >svg{
                transform: scaleX(-1);
            }
            .pxl-icon-box__feature-list{
                top: 0;
                right: 0;
                .pxl-icon-box__feature-item{
                    &:first-child{
                        top: -24px;
                        right: 100px;
                    }
                    &:nth-child(2){
                        top: 98px;
                        right: 218px;
                    }
                    &:nth-child(3){
                        top: 50%;
                        right: 57px;
                        transform: translateY(-50%);
                    }
                    &:nth-child(4){
                        bottom: 65px;
                        right: 152px;
                    }
                    &:last-child{
                        bottom: -16px;
                        right: 112px;
                    }
                }
            }
        }
    }
}

.pxl-icon-box-carousel{
    margin: -30px;
    .pxl-swiper-container{
        padding: 30px;
        margin: 0 -8px;
        .pxl-swiper-slider__item{
            opacity: 0;
            transition: all 0.3s ease;
            &.swiper-slide-visible{
                opacity: 1;
            }
        }
    }
    .pxl-icon-box__item{
        padding: 0 8px;

        &-inner{
            box-shadow: 0px 4px 16px 0px rgba(24, 29, 39, 0.12);
            background-color: #fff;
            border-radius: 16px;
            border-radius: 24px;
            padding: 12px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            min-height: 384px;
        }
        &-content{
            display: flex;
            flex-direction: column;
            gap: 16px;
            padding: 12px;
        }
        &-icon{
            width: 48px;
            height: 48px;
            border-radius: 50%;
            background-color: #FF5AAF;
            display: flex;
            justify-content: center;
            align-items: center;
            svg{
                width: 24px;
                height: 24px;
            }
            i{
                font-size: 24px;
            }
        }
        &-title{
           @extend .h6;
            color: #132436;
        }
        &-desc{
           @extend .fs-body;
        }
        &-button{
            width: 100%;
            a{
               width: 100%;
               border-radius: 44px;
               background: #E9EAEB;
               padding: 4px 4px 4px 16px;
               display: flex;
               justify-content: space-between;
               align-items: center;
               gap: 8px;
               font-size: 16px;
               font-weight: 500;
               line-height: 1.35;
               letter-spacing: -0.32px;
               color: #132436;
               transition: all 0.3s ease;
               &:hover{
                background: #132436;
                color: #fff;
               }
            }
            span{
                padding: 7px 16px;
                border-radius: 50px;
                background: #fff;
                display: flex;
                justify-content: center;
                align-items: center;
                svg{
                    width: 18px;
                    height: 18px;
                }
            }
        }
    }
}
